@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (!User.Identity.IsAuthenticated)
{
    <a asp-action="Login" asp-controller="Account" class="btn btn-success">Log In with OAuth Server</a>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

